
html {
  height: 100%;
  width: 100%;
}

/*tags*/
body {
  background-color: #afd6dc;
}
section{
  background-color: #f9f68c;
}
h1{
  color: #1f330a;
  text-align: center;
}

h2{
  color: #1f330a;
  text-align: center;
}
h3{
  color: #1f330a;
}
p{
  text-align: center;
}
div{
  margin: auto;
}

uli{
  width: 100%;
  height: 100%;
  text-align: center;
  display: block;
}

uli li{
  display:inline-block
  
}

uli li a{
  text-decoration: none;
  color: black;
  border: 1px solid black;
  transition: 0.6s ease;
  align-content: center;
  padding: 5px;
}
/* code for navigation bar */
nav{
  height: 40px;
  width: auto;
  display:flex;
  align-items: center;
  justify-content: space-around;
  margin: auto;
}

a{
  position: relative;
  text-decoration:none;
  font-family: 'Garamond', serif;
  color: black;
  font-size: 18px;
  letter-spacing: 0.5px;
}

a:after{
  content: "";
  position: absolute;
  background-color: black;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.3s;
}

a:hover{
  color: black;
}

a:hover:after{
  width:100%;
}



/*classes*/
.container{
  padding: 100px;
}
.fSub{
  border: 2px solid black;
  border-radius: 3px;
  background-color: #f9f68c;
}


/* .missionStatement{
  background-color: #f9f68c;
  border: 2px solid black;
  border-radius: 3px;
  padding-top: 100px;
  padding-bottom: 100px;
  margin-top: 20px;
  margin-bottom: 500px;
  width: 100%;
} */

.slogan{
  text-align: center;
  font-size: 120px;
  padding: 30px;
  border-radius: 20px;
  background-color: #f9f68c;
  border: 2px solid black;
  padding-top: 100px;
  /* padding-bottom: 100px; */
  margin-top: 20px;
  /* margin-bottom: 500px; */
  width: 100%;
}




.qButton{
  margin: 100px;
  align-items: flex-end;
  padding: 10px;
}
.wrapper {
  max-width: 1150px;
  padding-right: 10px;
  padding-left: 10px;
}
/*IDS*/
#footer {
   position: fixed;
   bottom: 0;
   width: 100%;
   height: 60px;   
   background:  #d6d6d6
}

/*links*/
a{
  position: relative;
  text-decoration:none;
  font-family: 'Garamond', serif;
  color: black;
  font-size: 18px;
  letter-spacing: 0.5px;
}

a:after{
  content: "";
  position: absolute;
  background-color: black;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.3s;
}

a:hover{
  color: black;
}

a:hover:after{
  width:100%;
}








/* nav{
  height: 40px;
  width: auto;
  display:flex;
  align-items: center;
  justify-content: space-around;
  margin: auto;
}

#footer {
   position: fixed;
   bottom: 0;
   width: 100%;
   height: 60px;   
   background:  #d6d6d6
}

a{
  position: relative;
  text-decoration:none;
  font-family: 'Garamond', serif;
  color: black;
  font-size: 18px;
  letter-spacing: 0.5px;
} 

a:after{
  content: "";
  position: absolute;
  background-color: black;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.3s;
} 

a:hover{
  color: black;
}
 
 a:hover:after{
  width:100%;
}
 
/*  */

/* 
 .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 350px;
  width: 350px;
  object-fit: cover;
  transition: .5s ease;
  background-color: #CCD5AE;
  border-radius: 10px;
  opacity: 0%;

}  */

 .text {
  color: white;
  font-size: 15px;
  position: absolute;
  top: 50%;
  left: 50%; 
 -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
} 


 .techniques{
  display: flex;
  align-content: center;
   border-radius: 30px;
   border: 2px solid black;
}

.techniqueCard{
  float: center;
}

.techniqueCard2{
  float: center;
} 
.techniqueCard3{
  float: center;
}

.techniqueCard,
.techniqueCard2, .techniqueCard3 {
  width: 200px;
  text-align: center;
  padding-top: 15px;
}

/* .techniqueCard {
  margin-right: 20px; /* Add some margin between cards */

/* .wrapper {
  max-width: 1150px;
  padding-right: 10px;
  padding-left: 10px;
}

/* Set a width for the cards to ensure they fit in the container */
/* .techniqueCard,
.techniqueCard2 {
  width: 200px;
}


.wrapper {
  max-width: 1150px;
  padding-right: 10px;
  padding-left: 10px;
} */ 

